.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

    &.open {
        pointer-events: auto;
        opacity: 1;
        backdrop-filter: blur(4px)
    }

    .modal {
        position: fixed;
        max-width: 700px;
        max-height: 600px;
        background-color: #444;
        border-radius: 8px;
        scale: 0;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;

        z-index: 4;

        transition: all 0.4s ease-in-out;
        gap: 1rem;

        &.open {
            scale: 1;
        }

        @media(width<=770px) {
            max-width: 300px;
            /* height: auto; */
            overflow: auto;

        }

        .cancel {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            right: 0;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                width: 30px;
                height: 5px;
                background-color: #fff;

                &:nth-child(1) {
                    inset: 0;
                    margin: auto;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    inset: 0;
                    margin: auto;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.work {
    display: flex;
    gap: 2rem;
    margin: 2rem;


    .workWrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .title {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;

            @media (width<=770px) {
                flex-direction: column;
            }

            p {
                color: #fff;
                font-size: 20px;
            }

            .skills {
                display: flex;
                gap: 8px;

                img {
                    width: 25px;
                }
            }
        }

        p {
            color: #fff;
            font-size: 14px;
            white-space: pre-line;
        }

        .workInfoWrap {
            display: flex;
            gap: 32px;

            @media (width<=770px) {
                flex-direction: column;
            }

            .workInfo {
                display: flex;
                flex-direction: column;

                gap: 8px;

                img {
                    width: 320px;
                    border-radius: 8px;
                    height: auto;

                    @media (width<=770px) {
                        width: 250px;
                    }
                }

                .skillIcon {
                    width: 32px;
                    height: 32px;
                    object-fit: contain;
                }


                a {
                    button {
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .btns {
                    display: flex;
                    gap: 0.5rem;
                    margin-block-end: 1rem;


                    button {
                        padding: 0.5rem 1rem;
                        background-color: rgb(119, 119, 255);
                        border-radius: 16px;
                    }
                }

                .props {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    background-color: #303030;
                    border-radius: 8px;
                    padding: 1rem;

                    p {
                        color: #fff;
                        font-size: 16px;
                        font-weight: 800;
                    }

                    span {
                        color: #fff;
                        font-size: 16px;
                        line-height: 1;
                    }
                }

            }

            .workDesc {
                background-color: #303030;
                border-radius: 8px;
                padding: 1rem;

                h3 {
                    color: #fff;
                }

                p {
                    color: #fff;
                    font-size: 1rem;
                    white-space: pre-line;
                }
            }
        }
    }
}