.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */

    z-index: 3;

    scale: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &.open {
        scale: 1;
        opacity: 1;
    }

    .modal {
        position: fixed;
        width: 800px;
        height: 600px;
        background-color: #444;
        border-radius: 8px;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;

        z-index: 4;

        transition: all 0.5s ease-in-out;
        gap: 1rem;

        @media(width<=770px) {
            width: 300px;
            /* height: auto; */
            overflow: auto;

        }

        .cancel {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 1%;
            right: 1%;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                width: 30px;
                height: 5px;
                background-color: #fff;

                &:nth-child(1) {
                    inset: 0;
                    margin: auto;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    inset: 0;
                    margin: auto;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.workInfo {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;
    padding-block-start: 1rem;

    p {
        color: #fff;
        font-size: 1rem;
    }

    img {
        width: 200px;
        height: auto;
    }


    a {
        text-decoration: none;
        color: #fff;
    }

}