.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */

    z-index: 3;

    scale: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &.open {
        scale: 1;
        opacity: 1;
    }

    .modal {
        position: fixed;
        max-width: 600px;
        max-height: 500px;
        background-color: #444;
        border-radius: 8px;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;

        z-index: 4;

        transition: all 0.5s ease-in-out;
        gap: 1rem;

        @media(width<=770px) {
            max-width: 300px;
            /* height: auto; */
            overflow: auto;

        }

        .cancel {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            right: 0;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                width: 30px;
                height: 5px;
                background-color: #fff;

                &:nth-child(1) {
                    inset: 0;
                    margin: auto;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    inset: 0;
                    margin: auto;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.work {
    display: flex;
    margin: 2rem;
    gap: 2rem;

    @media (width<=770px) {
        flex-direction: column;
    }

    .workInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;


        p {
            color: #fff;
            font-size: 1rem;
            white-space: pre-line;
        }

        img {
            max-width: 250px;
            border-radius: 8px;
            height: auto;
        }

        .skills {
            display: flex;

            gap: 8px;
        }

        .skillIcon {
            width: 32px;
            height: 32px;
            object-fit: contain;
        }


        a {
            text-decoration: none;
            color: #fff;
        }

        .btns {
            display: flex;
            gap: 0.5rem;


            button {
                padding: 0.5rem 1rem;
                background-color: rgb(119, 119, 255);
                border-radius: 50px;
            }
        }

    }

    .workDesc {
        p {
            color: #fff;
            font-size: 1rem;
            white-space: pre-line;
        }
    }
}