.topics {
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background-color: #25b3312d; */
    transition: all 0.5s ease-in-out;
    justify-content: end;

    display: flex;
    z-index: 1;

    right: 0;
    scale: 1;

    @media(width<=770px) {
        justify-content: start;
        flex-direction: column;
        overflow-y: auto;
        top: 200px;
        height: calc(100% - 200px);
    }


    .aboutMeWrap {
        transition: all 0.5s ease-in-out;
        display: flex;
        /* width: 100%; */
        flex-direction: column;
        justify-content: space-between;
        /* align-items: end; */
        /* background-color: #ffffff6c; */

        @media(width<=770px) {
            width: 100%;

        }

        /* position: absolute; */


        .aboutMe {
            width: 300px;
            height: 200px;
            background: #444;
            color: #fff;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            margin: 2rem;

            img {
                width: 100px;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }

            button {
                width: 100%;
                height: auto;
            }

            &:hover {}

            @media(width<=770px) {
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin-inline: auto;
            }

            &.expanded {
                width: 700px;
                height: 650px;

                @media(width<=770px) {
                    height: 400px;
                    width: 300px;
                }
            }
        }



        .skills {
            width: 300px;
            height: 100px;
            /* background-color: #c2c2c280; */
            transition: all 0.5s ease-in-out;
            margin: 2rem 2rem 0 2rem;
            align-self: flex-end;

            &.expanded {
                width: 450px;
                height: 150px;

                @media(width<=770px) {
                    width: 300px;
                }
            }

            @media(width<=770px) {
                align-self: flex-start;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin-inline: auto;
            }

            p {
                line-height: 0;
                color: #fff;
            }
        }
    }

}

.close {
    scale: 0;
    right: 100%;
}

.svgs {
    display: flex;
    /* justify-content: center; */
    align-content: center;
    margin-block-start: 1rem;
    cursor: pointer;

    svg {
        width: 50px;
    }
}

.others {
    transition: all 0.5s ease-in-out;
    opacity: 0;

    &.expanded {
        opacity: 1;
    }

}


.introduction {
    display: flex;
    margin: 1rem;
    gap: 1rem;

    .closeUp {
        text-align: center;
        margin-block: 1rem;

        p {
            font-size: 1rem;
            line-height: 1;

            span {
                font-size: 10px;
            }
        }
    }

    .desc {


        p {
            font-size: 12px;
            font-weight: 600;
        }
    }
}