.topics {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #25b3312d;
    transition: all 0.5s ease-in-out;
    justify-content: end;

    display: flex;
    z-index: 1;

    @media(width<=770px) {
        justify-content: start;
        flex-direction: column;
    }


    .aboutMeWrap {
        transition: all 0.5s ease-in-out;
        display: flex;
        /* width: 100%; */
        flex-direction: column;
        justify-content: space-between;
        /* align-items: end; */
        background-color: #ffffff6c;


        @media(width<=770px) {
            padding-block-start: 200px;
            width: 100%;

        }

        /* position: absolute; */


        .aboutMe {
            width: 300px;
            height: 200px;
            background: #444;
            color: #fff;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            margin: 2rem;

            /* 
        right: 25px;
        bottom: 25px;

        margin: auto; */

            button {
                width: 100%;
                height: auto;
            }

            &:hover {}

            &.expanded {
                width: 700px;
                height: 550px;

                @media(width<=770px) {
                    height: 400px;
                    width: 300px;
                }
            }
        }



        .skills {
            width: 300px;
            height: 100px;
            background-color: #c2c2c280;
            transition: all 0.5s ease-in-out;
            margin: 2rem 2rem 0 2rem;
            align-self: flex-end;

            &.expanded {
                width: 450px;
                height: 150px;

                @media(width<=770px) {
                    width: 300px;
                }
            }

            p {
                line-height: 0;
                color: #fff;
            }
        }
    }

}

.close {
    scale: 0;
    right: 100%;
    opacity: 0;
}