.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 1rem;

    h2 {
        display: block;
        grid-column: 1 / -1;
        color: #fff;
        border-top: 1px solid #fff;
        cursor: pointer;
    }

    .itemsWrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;

        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0.5s ease;
    }

    .open {
        max-height: 100%;
        opacity: 1;
    }

    li {
        list-style: none;
        width: 250px;
        background: #222;
        border-radius: 8px;
        overflow: hidden;


        img {
            width: 100%;
            display: block;
        }

        p {
            color: #fff;
            line-height: 0;
            text-align: center;
        }
    }
}