.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 1rem;


    h2 {
        display: block;
        grid-column: 1 / -1;
        color: #fff;
        border-top: 1px solid #fff;
        cursor: pointer;
        margin-block-start: 2rem;


        svg {
            margin-inline-end: 8px;
            transition: 500ms ease;
        }

        svg.close {
            transform: rotateX(180deg)
        }
    }

    .itemsWrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;

        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0.5s ease;
    }

    .open {
        max-height: 100%;
        opacity: 1;
    }

    li {
        list-style: none;
        width: 250px;
        background: #222;
        border-radius: 8px;
        overflow: hidden;


        img {
            width: 100%;
            display: block;
            object-fit: contain;

        }

        p {
            display: block;
            color: #fff;
            line-height: 1.8;
            text-align: center;
            padding-bottom: 12px;
        }
    }
}