.thumbnail {
    display: flex;
    justify-content: end;
    background-color: #ffffff5f;
    width: 100%;
    align-items: flex-end;

    @media(width<=770px) {
        order: 2;
        justify-content: start;
    }

    .btn {
        z-index: 1;
        width: 300px;
        height: 200px;
        background: #444;
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        margin: 0 2rem 2rem 2rem;


        &:hover {}
    }

    .expanded {
        width: 0;
        scale: 0;
        opacity: 0;

    }

    .close {
        scale: 0;
        opacity: 0;
    }

}