.thumbnail {
    display: flex;
    width: 100%;
    height: auto;

    align-items: flex-end;

    .btn {
        z-index: 1;
        width: 300px;
        height: 200px;
        background: #444;
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;



        margin: 2rem;
        margin-block-start: 10rem;

        button {
            width: 100%;
            height: auto;
        }

        &:hover {}
    }

    .expanded {
        /* top: 600px; */
        bottom: 0;
        right: 0;
        /* left: 250px; */

        margin: auto;

        width: 600px;
        height: 800px;

    }

    .close {
        scale: 0;
        opacity: 0;
    }
}