.work {
    .worksList {
        position: absolute;
        width: calc(100% - 250px);
        z-index: 1;
        transform: translateX(calc(100% + 250px));
        top: 100px;
        transition: 600ms ease-out;
        opacity: 0;
        /* overflow: hidden; */

    }

    .worksList.active {
        transform: translateX(250px);
        opacity: 1;

        @media(width<=820px) {
            transform: translateX(20px);
            top: 200px;

        }


    }


}

.work.active {
    position: static;
    overflow: visible;
}