.worksList {
    position: absolute;
    max-width: 100%;
    z-index: 1;
    right: 20px;
    top: 100px;
    padding-inline: 250px;

    h2 {
        color: #fff;
        border-bottom: 1px solid #fff;

    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        li {
            list-style: none;

            img {
                width: 250px;
            }

            p {
                line-height: 0px;
                color: #fff;
            }
        }
    }
}