.work {
    overflow: hidden;

    .worksList {
        position: absolute;
        width: calc(100% - 250px);
        z-index: 1;
        transform: translateX(calc(100% + 250px));
        top: 100px;
        transition: 600ms ease-out;
        opacity: 0;
        /* overflow: hidden; */

    }

    .worksList.active {
        transform: translateX(250px);
        opacity: 1;
    }
}

.work.active {
    position: static;
    overflow: visible;
}