.work {
    position: relative;
    overflow: hidden;

    .worksList {
        position: absolute;
        width: calc(100% - 250px);
        z-index: 1;
        transform: translateX(100%);
        top: 100px;
        transition: 600ms ease-out;
        opacity: 0;

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, 250px);
            gap: 1rem;

            h2 {
                display: block;
                grid-column: 1 / -1;
                color: #fff;
                border-top: 1px solid #fff;
            }

            li {
                list-style: none;
                width: 250px;
                background: #222;
                border-radius: 8px;
                overflow: hidden;

                img {
                    width: 100%;
                    display: block;
                }

                p {
                    color: #fff;
                    line-height: 0;
                    text-align: center;
                }
            }
        }
    }

    .worksList.active {
        transform: translateX(250px);
        opacity: 1;
    }
}

.work.active {
    position: static;
    overflow: visible;
}