.worksList {
    position: fixed;
    width: calc(100% - 250px);
    z-index: 1;
    transform: translateX(calc(100% + 250px));
    top: 100px;
    transition: 600ms ease-out;
    opacity: 0;
    overflow-y: auto;
    /* overflow: hidden; */
    height: calc(100% - 120px);
    /* scale: 0; */

}

.active {
    transform: translateX(300px);
    opacity: 1;
    /* scale: 1; */

    @media(width<=820px) {
        width: calc(100%);
        transform: translateX(65px);
        top: 220px;
        height: calc(100% - 220px);

    }

}