.btn {
    position: fixed;
    z-index: 1;
    width: 300px;
    height: 200px;
    background: #444;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    bottom: 10px;
    right: 25px;

    button {
        width: 100%;
        height: auto;
    }

    &:hover {}
}

.expanded {
    width: 400px;
    height: 400px;

}