.lists {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    list-style: none;

    top: 30px;
    left: 40px;

    @media (width<=820px) {
        position: absolute;
    }

    li {

        font-size: 36px;
        color: aliceblue;
        cursor: pointer;

        &:nth-child(1) {
            font-size: 48px;
        }

        &:nth-child(n+2) {
            margin-inline-start: 2rem;
        }
    }
}